# Python
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Node
node_modules/
dist/
build/
.npm/

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
